/** 
 * Archives
 */

 .blog-content {
   width: 80%;
   margin: 0 auto;
   .entry-content {
     width: 80%;
     margin: 0 auto;
   }
 }

 .categories-list {
   width: 80%;
   margin: 0 auto;
 }
ul.bycategories {
  margin: 0;
  padding: 0;
  }
  ul.bycategories li {
  list-style: none; 
  list-style-type: none;
  margin: 0; 
  padding: 0;
  }
  ul.bycategories li a {
  list-style: none; 
  list-style-type: none;
  margin: 0 20px 15px 0; 
  float: left; 
  background: #eee; 
  color: #464646; 
  padding: 5px 10px;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  }
  ul.bycategories li a:hover{
  text-decoration: none; 
  background: #ff6200; 
  color: #fff;
  }
  .clear{clear: both;}