/** 
 * Archives
 */

.archive-content-area {
  width: 75%;
  max-width: 760px;
  margin-right: 5%;
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    @include header-font(2.4rem, null);
    padding-bottom: 20px;
    margin-bottom: 60px;
    margin-top: 0;
    border-bottom: 1px solid #e1e1e1;
  }
}

.archive-site-main {
  width: 80%;
  margin: 0 auto;
  .entry-content {
    width: 80%;
    margin: 0 auto;
    @include extra-large-desktop-size {
      width: 70%;
    }
  }
  .entry-title {
    text-align: center;
  }
}

.archive-footer {
  margin: 3rem auto;
  width: 80%;
  .cat-title {
    font-family: $font__accent;
    font-size: 1.5rem;
  }
  ul.bycategories {
    margin: 0;
    padding: 0;
    }
    ul.bycategories li {
    list-style: none; 
    list-style-type: none;
    margin: 0; 
    padding: 0;
    }
    ul.bycategories li a {
    list-style: none; 
    list-style-type: none;
    margin: 0 20px 15px 0; 
    float: left; 
    background: #eee; 
    color: #464646; 
    padding: 5px 10px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    }
    ul.bycategories li a:hover{
    text-decoration: none; 
    background: #ff6200; 
    color: #fff;
    }
    .clear{clear: both;}

}